.about-hero {
    height: 500px;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.164), rgba(0, 0, 0, 0.884)),
        url('../../../public/img/fdf.jpg');



    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    background-attachment: fixed;
    height: 500px;
    background-position: center;


}
.title-header{
    font-size: 50px;
}